<!--self study page-->
---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    {% for post in site.posts %} 
                        {% if post.project == null %}
                    <ul>
                        <h2 style = "color:forestgreen" ><p><b id="13">🛌 국민대학교 자율주행 경진대회[Xycar]</b></p></h2>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95931595-8e00b080-0e04-11eb-944d-d469e3afc7bd.jpeg" style="width:550px;height:300px; float: left ;margin-right: 20px;">
                            
                            <h2><b>개발 툴</b></h2>
                                <b>- Eclipse,&nbsp;&nbsp; vim</b>
                            <h2><b>언어</b></h2>
                                <b>- C Language,&nbsp;&nbsp; C++</b>
                            <h2><b>OS</b></h2>
                                <b>- Rasbian, &nbsp;&nbsp;Ubuntu 14.04</b>
                                <div style="clear:both;"></div>
                                <img src="https://user-images.githubusercontent.com/56511253/95931597-8f31dd80-0e04-11eb-9ff7-d85427e565f9.jpeg" style="width: 550px; height:280px; float: left; margin-right: 20px; margin-top: 20px; ">
                            <h2><b>내용 및 기능</b></h2>
                                - 전자공학과(3명), 임베디드 시스템 공학과(2명)의 5인으로 구성.<br><br>
                                - 예선은 주어진 영상에 대해 ROS프로그래밍을 하여 시뮬레이터로 구현.<br><br>
                                - 본선은 직접 Xycar에 ROS프로그래밍을 하여 3바퀴 일반트랙, 1바퀴 장애물 트랙을 빠른 시간안에 완주하는 것.<br><br>
                                - 코드를 무작위로 배포할 시 저작권에 문제가 생길 수 있어 Git에 Repository는 Private으로 되어있음.<br><br><br><br><br><br>
                        </li>
                    </ul>
                        {% endif %}
                    {% endfor %}
                </div><br><br><br><br>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
