<!--self study page-->
---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    {% for post in site.posts %} 
                        {% if post.project == null %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/96167391-4855fc00-0f5a-11eb-9b3c-6161c2f944dd.png" style="width:300px;height:150px; float: left ;margin-right: 50px; margin-left: 100px;">
                            <br><br>
                            <h2 style = "color:forestgreen" ><p><b id="13">🛌 Algorithm Study With Python</b></p></h2><br><br>

                            <img src="https://user-images.githubusercontent.com/56511253/96167453-63287080-0f5a-11eb-8918-e865e4594ac5.png" style="width: 300px; height:150px; float: left; margin-right: 50px; margin-top: 20px;margin-left: 100px; ">
                                - 임베디드 시스템 과의 특성상 학부 과정에서는 간단한 C언어와 기본적인 자료구조만 학습하기 때문에, 알고리즘 능력을 키우기 위해서는 스스로 공부하는 습관이 필요했습니다.<br><br>
                                - 학부과정을 밟으면서 한꺼번에 많은 양의 알고리즘 공부를 할 수는 없었기 때문에 시간이 날 때마다 알고리즘 문제를 푸는 습관을 길렀습니다.<br><br>
                                <a href="https://velog.io/@sangwoo24?tag=algorithm" class="btn btn-success" target="_blank" style = "float:right">Algorithm - Blog</a>
                                <a href="https://github.com/sangwoo24/Algorithm" class="btn btn-success" target="_blank" style = "float:right; margin-right: 150px;">Algorithm - Github</a>
                                <div style="clear:both;"></div>
                        </li>
                    </ul>
                </div><br><br><br><br>

                <div class="post-list">
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/96170435-8bb26980-0f5e-11eb-8970-ba19cf07d7ed.jpeg" style="width:300px;height: 650px; float: left; margin-right: 50px; margin-left: 100px;">
                            <img src="https://user-images.githubusercontent.com/56511253/96170432-8a813c80-0f5e-11eb-8dba-8d397fddd5c3.png" style="width:250px;height:250px; float: left;">
                            <img src="https://user-images.githubusercontent.com/56511253/96170429-89500f80-0f5e-11eb-9047-5d272ffb4cdb.png" style="width:250px;height:250px; margin-bottom: 20px;">
                            <br>
                            <h2 style = "color:forestgreen" ><p><b id="13">🛌 Algorithm Study With Python</b></p></h2>
                                - 4학년 1학기, 졸업작품을 진행하면서 개발에 필요한 Android App에 대해 공부를 했습니다. 혼자 공부를 하면서, 내가 구현한 대로 직관적이게 변하는 App 개발에 흥미를 느껴 전공과는 무관함에도 불구하고 App 개발자가 되기로 결심했습니다.<br><br>
                                  Android와 iOS중, 저에게 더 잘 맞는 개발 직군은 iOS 라고 생각되어 iOS직군을 목표로 삼게 되었습니다.<br><br>
                                  전 국민 모두가 사용할 수 있는 보편적이고 대중성 있는 App을 만드는 것이 제 목표입니다.<br>
                                  따라서 다른 학기보다 시간적 여유가 생긴 최근에, 목표와 꿈을 이루기 위해 iOS 공부를 불태우고 있습니다..!!🔥🔥🔥<br>
                                  <a href="https://velog.io/@sangwoo24?tag=iOS" class="btn btn-success" target="_blank" style = "float:right">Algorithm - Blog</a>
                                <a href="https://github.com/sangwoo24/ios-Develop" class="btn btn-success" target="_blank" style = "float:right; margin-right: 150px;">Algorithm - Github</a>
                                <div style="clear:both;"></div>
                        </li>
                    </ul>
                        {% endif %}
                    {% endfor %}
                </div><br><br><br><br>

            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
