<!--project page-->
---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                </div>
                <div align = "right">
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    {% for post in site.posts %} 
                        {% if post.project == null %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95610247-f7965d00-0a9a-11eb-8b90-41aad442b295.png" width = "100" height = "100" align = "left" vspace = "10" hspace = "30"/>
                            <br><a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                            <p>안녕안녕하세요</p>
                            <p>이건 ~~프로젝트입니당
                                <br> 냥냥펀치tq
                            </p>
                            <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">Learn More</a>
                        </li>
                    </ul>
                    <br><br><br><br><br><br><br><br><br>
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="3s">
                            <img src = 'assets/img/me.png'>
                            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">안냥</a>
                            <p>저는 석상우입니당</p>
                            <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">메롱</a>
                        </li>
                    </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
