<!--project page-->
---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class = "wrapper">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                </div>
                <div align = "right">
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list" align = "left">
                    {% for post in site.posts %} 
                        {% if post.project == null %}
                    <ul>
                        <h2 style = "color:forestgreen" ><p><h1><b>💸 목차</b></h1></p></h2>
                        <div class="wow fadeInLeft" data-wow-duration="1.5s">
                        <div style="float: left;">
                        <h3 > 대내 프로젝트</h3>
                        <ul>    
                            <li>가계부 프로그램</li>
                            <li>Alram-Clock</li>
                            <li>Safe</li>
                            <li>GroupChatting Program</li>
                            <li>P2P File Transfer System</li>
                            <li>Bus Route</li>
                            <li>Face Swapping</li>
                            <li>Tamagochi</li>
                            <li>Smart Home</li>
                            <li>Parking System</li>
                            <li>Graduation Project</li>
                        </ul>
                        </div>
                        <div style="float: left; margin-left: 100px;">
                        <h3>대외 프로젝트</h3>
                            <ul>
                            <li>제 18회 전국 임베디드 경진대회</li>
                            <li>국민대학교 자율주행 경진대회</li></ul></div>
                        </div>
                    </ul>
                </div><div style="clear:both;"></div>
                <br><br><br><br>
                <h1><b>대내 프로젝트</b></h1><br>
                
                <!----------------------------------------------------------------------------표본--------------------------------------------------------------------------->
                <div class="post-list">
                    <ul>
                        <h2 style = "color:forestgreen" ><p><b>💸 가계부 프로그램</b></p></h2>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95652695-e6e2f700-0b2d-11eb-8e66-1382fcf74df6.png" style="width: 270px;height:300px; float: left ;margin-right: 50px;">
                                <h2><b>개발 환경</b></h2>
                                <b>- C++</b>
                                <h2><b>내용 및 기능</b></h2>
                                - 2학년 1학기 기말 Term Project로 수행한 Project(1인 1조).<br>
                                - 간단한 가계부 프로그램을 C++을 이용하여 제작.<br>
                                - 코드 설계를 통해 객체지향적인 사고방식을 기르는 데에 도움이 됨.
                            <a href="https://github.com/sangwoo24/Main-Project-in-KPU/tree/master/Household%20Account%20Book%20" class="btn btn-success" target="_blank" style = "float:right">프로젝트 세부내용</a>
                            <div style="clear:both;"></div>
                        </li>
                    </ul>
                </div><br><br><br><br>
                <!----------------------------------------------------------------------------표본--------------------------------------------------------------------------->
                <div class="post-list">
                    <ul>
                        <h2 style = "color:forestgreen" ><p><b>⏰ Alram Clock</b></p></h2>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95908915-a4911280-0dd8-11eb-82fe-3033ae7901fe.png" style="width:270px;height:300px; float: left ;margin-right: 50px;">
                                <h2><b>개발 환경</b></h2>
                                <b>- C Language, &nbsp;&nbsp; AVR Studio</b>
                                <h2><b>내용 및 기능</b></h2>
                                - 3학년 1학기 임베디드 프로세서의 기말 Term Project(1인1조).<br>
                                - 8bit ATmega128의 내부 기능들을 사용해 Project구성.<br>
                                - 하드웨어 Chattering 방지에 대한 학습과, 다양한 Flag사용으로 접근제어 구현.
                            <a href="https://github.com/sangwoo24/Main-Project-in-KPU/tree/master/Alram%20Clock" class="btn btn-success" target="_blank" style = "float:right">프로젝트 세부내용</a><div style="clear:both;"></div>
                        </li>
                    </ul>
                </div><br><br><br><br>
                <!-- 메롱 -->
                <div class="post-list">
                    <ul>
                        <h2 style = "color:forestgreen" ><p><b>🔒 Safe</b></p></h2>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95909199-0b163080-0dd9-11eb-8bf8-853271985bf5.png" style="width:270px;height:300px; float: left ;margin-right: 50px;">
                                <h2><b>개발 환경</b></h2>
                                <b>- C Language,&nbsp;&nbsp; AVR Studio</b>
                                <h2><b>내용 및 기능</b></h2>
                                - 3학년 1학기 임베디드 프로세서의 기말 Term Project(1인1조).<br>
                                - 8bit ATmega128의 내부 기능들을 사용해 Project구성.<br>
                                - 인터럽트 활용과 비트 연산을 활용하여 프로젝트 설계 및 구현.
                            <a href="https://github.com/sangwoo24/Main-Project-in-KPU/tree/master/Safe" class="btn btn-success" target="_blank" style = "float:right">프로젝트 세부내용</a><div style="clear:both;"></div>

                        </li>
                    </ul>
                </div><br><br><br><br>
                <!--메롱-->
                <div class="post-list">
                    <ul>
                        <h2 style = "color:forestgreen" ><p><b>👥 Group Chatting Program</b></p></h2>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95920048-ad3e1480-0de9-11eb-86fd-60d45ef94165.png" style="width:400px;height:350px; float: left ;margin-right: 50px;">
                            <h2><b>개발 환경</b></h2>
                            <b>- C Language,&nbsp;&nbsp; Linux Server,&nbsp;&nbsp; Putty</b>
                            <h2><b>사용 통신 규격</b></h2>
                            <b>- Socket Communication</b>
                            <h2><b>내용 및 기능</b></h2>
                                - 3학년 2학기 임베디드 운영체제의 기말 Term Project(2인 1조)<br>
                                - Server를 통해 Client들이 각자의 맞는 ID 와 PW로 로그인을 한 뒤, 그룹 채팅을 할 수 있게 만든 프로그램.<br>
                                - Semaphore, Pipe Line, Shared Memory등의 이론으로 공부한 IPC(Inter Process Comunication)를 실제 구현해본 프로젝트
                                <a href="https://github.com/sangwoo24/Main-Project-in-KPU/tree/master/GroupChatting%20in%20Linux%2CC%2CSocket" class="btn btn-success" target="_blank" style = "float:right">프로젝트 세부내용</a><div style="clear:both;"></div>

                        </li>
                    </ul>
                </div><br><br><br><br>
                <!--메롱-->
                <div class="post-list">
                    <ul>
                        <h2 style = "color:forestgreen" ><p><b>🗂 P2P File Transfer System</b></p></h2>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95919893-5f291100-0de9-11eb-8cf7-2370b0e58122.png" style="width: 400px; height:365px; float: left ;margin-right: 50px;">
                            <h2><b>개발 환경</b></h2>
                            <b>- C Language,&nbsp;&nbsp; Linux Server,&nbsp;&nbsp; Putty</b>
                            <h2><b>사용 통신 규격</b></h2>
                            <b>- Socket Communication</b>
                            <h2><b>내용 및 기능</b></h2>
                                - 3학년 2학기 임베디드 운영체제의 기말 Term Project(2인 1조)<br>
                                - 그룹채팅 도중 "File"이라는 커맨드를 이용하여 P2P로 File을 전송하기 위한 [그룹채팅 + 파일전송] 프로그램.<br>
                                - Semaphore, Pipe Line, Shared Memory등의 이론으로 공부한 IPC(Inter Process Comunication)를 실제 구현해본 프로젝트<br>
                                - 그룹채팅과 P2P 파일전송의 프로세스를 나누어 개발.
                            <a href="https://github.com/sangwoo24/Main-Project-in-KPU/tree/master/P2P_File_Transfer%20in%20Linux%2CC%2CSocket" class="btn btn-success" target="_blank" style = "float:right">프로젝트 세부내용</a><div style="clear:both;"></div>
                        </li>
                    </ul>
                </div><br><br><br><br>
                <!--메롱-->
                <div class="post-list">
                    <ul>
                        <h2 style = "color:forestgreen" ><p><b>🚎 Bus Route</b></p></h2>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95910111-84fae980-0dda-11eb-991c-9fdada069f2e.png" style="width: 400px; height:500px; float: left; margin-right: 50px; ">
                            <h2><b>개발 환경</b></h2>
                            <b>- Python,&nbsp;&nbsp; Opencv</b>
                            <h2><b>사용 API</b></h2>
                            <b>- Google Geocoder</b>
                            <h2><b>내용 및 기능</b></h2>
                                - 3학년 2학기 프로그래밍 응용의 기말 Term Project(4인 1조)<br>
                                - 주어진 문제를 자유로운 언어로 자유롭게 구현하는 PBL수업.<br>
                                - Python의 여러 내장 모듈과 외부 라이브러리, 외부 API를 사용해볼 수 있는 계기가 됨.<br>
                                - K 평균, 다익스트라 등의 고급 알고리즘과 주소를 기반으로 실제 위도와 경도의 정보를 얻을 수 있는 Google Api인 Geocoder사용.<br><br>
                                <font color = "ayan"><b>노선 생성</b></font> : 100명의 학생 주소를 Excel로 받아 100명이 모두 탈 수 있는 최적의 노선 3개를 학교 기준으로 생성.<br><br>
                                <font color = "ayan"><b>경로 탐색</b></font> : 학생의 번호를 입력하여 학생이 학교까지 올 수 있는 최적의 노선과 시간을 도출.
                            <a href="https://github.com/sangwoo24/Main-Project-in-KPU/tree/master/Bus%20route" class="btn btn-success" target="_blank" style = "float:right">프로젝트 세부내용</a><div style="clear:both;"></div>
                        </li>
                    </ul>
                </div><br><br><br><br>
                <!--메롱-->
                <div class="post-list">
                    <ul>
                        <h2 style = "color:forestgreen" ><p><b>🙈 Face Swapping</b></p></h2>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95910409-fd61aa80-0dda-11eb-81ce-102e82049800.png" style="width: 270px;height: 300px; float: left ;margin-right: 50px;">
                                <h2><b>개발 환경</b></h2>
                                <b>- Python,&nbsp;&nbsp; Opencv</b>
                                <h2><b>내용 및 기능</b></h2>
                                - 3학년 2학기 임베디드 비전 시스템의 기말 Term Project(3인 1조)<br>
                                - Opencv Face Landmark Detection과 TKinter를 이용해 실시간 영상으로 비교 대상과 얼굴을 바꾸는 프로그램 개발.<br><br>
                                <font color = "ayan"><b>얼굴 바꾸기</b></font> : 저장된 사진 List 중 바꿀 대상의 이름을 입력하거나 저장된 사진을 직접 선택하여 현재 캠 화면의 얼굴과 변경.<br><br>
                                <font color = "ayan"><b>스냅샷</b></font> : 새로운 얼굴을 추가하고 싶을 때, 스냅샷을 이용하여 사진을 찍으면 Landmark를 이용해 얼굴만 추출한다.
                            <a href="https://github.com/sangwoo24/Main-Project-in-KPU/tree/master/Embedded%20Vision%20System%20-%20Face%20swapping" class="btn btn-success" target="_blank" style = "float:right">프로젝트 세부내용</a><div style="clear:both;"></div>
                        </li>
                    </ul>
                </div><br><br><br><br>
                <!--메롱-->
                <div class="post-list">
                    <ul>
                        <h2 style = "color:forestgreen" ><p><b>🐶 Tamagochi(다마고치)</b></p></h2>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95927778-aec40880-0dfa-11eb-923b-677ce8f85f0b.jpeg" style="width:400px;height:450px; float: left ;margin-right: 50px;">
                            <h2><b>개발 환경</b></h2>
                            <b>- C Language</b>
                            <h2><b>사용 통신 규격</b></h2>
                            <b>- Cloud MQTT, &nbsp;&nbsp;Serial Communication</b>
                            <h2><b>내용 및 기능</b></h2>
                                - 3학년 2학기 센서응용 시스템의 기말 Term Project(1인 1조).<br>
                                - ESP-8266을 기반으로 자율 프로젝트 진행.<br>
                                - ESP와 Cloud MQTT를 기반으로 자신의 애완용 펫을 키울 수 있게 제작.<br>
                                - 시간의 경과, 사료, 온/습도, 조도 등의 여러가지 센서 환경에 따라 펫의 상태가 변화됨.<br>
                                - 간단하게 Server와 Client로 나누어 핸드폰, 타 보드 등에서 원격 제어가 가능하도록 설계.<br>
                                - 자율 프로젝트였기 때문에 스스로 데이타 시트를 보며 학습하고, 개발을 할 수 있게 되었던 계기가 됨.<br><br>
                                <font color = "ayan"><b>기능</b></font> : 먹이주기, 산책하기, 현재상태 확인, 먹이주기, 온/습도 확인하기 등
                            <a href="https://github.com/sangwoo24/Main-Project-in-KPU/tree/master/Tamagotchi" class="btn btn-success" target="_blank" style = "float:right">프로젝트 세부내용</a><div style="clear:both;"></div>
                        </li>
                    </ul>
                </div><br><br><br><br>
                <!--메롱-->
                <div class="post-list">
                    <ul>
                        <h2 style = "color:forestgreen" ><p><b>🛌 SmartHome[Domitory]</b></p></h2>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95927779-aff53580-0dfa-11eb-8d90-22739ce7f3fd.jpeg" style="width:400px;height:450px; float: left ;margin-right: 20px;">
                            <h2><b>개발 환경</b></h2>
                            <b>- C Language, &nbsp;&nbsp;Python,&nbsp;&nbsp; JSON,&nbsp;&nbsp; Node-RED, AWS</b>
                            <h2><b>내용 및 기능</b></h2>
                                - 4학년 1학기 사물인터넷의 기말 Term Project(4인 1조).<br><br>
                                - ESP-8266과 AWS 의 Node-RED를 이용해 자율 프로젝트 진행.<br><br>
                                - ESP와 Raspberry pi, Arduino, Node-RED를 이용해 가상의 환경에서 집안의 센서들을 휴대폰으로 제어할 수 있게 하는 프로그램 개발.<br><br>
                                - 하나의 기숙사 환경에서 3개의 분할된 숙소를 사용.<br><br>
                                - 숙소마다 다른 센서와 다른 환경으로 문, 창문, 에어컨, TV등을 제어.<br><br>
                                - Raspberry pi가 Edge Server 역활을 수행.<br><br>
                            <a href="https://github.com/sangwoo24/Main-Project-in-KPU/tree/master/Smart%20Home(Domitory)" class="btn btn-success" target="_blank" style = "float:right">프로젝트 세부내용</a><div style="clear:both;"></div>
                        </li>
                    </ul>
                </div><br><br><br><br>
                <!--메롱-->
                <div class="post-list">
                    <ul>
                        <h2 style = "color:forestgreen" ><p><b>🚗 Parking System</b></p></h2>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95927927-137f6300-0dfb-11eb-9432-cb6595c0f819.jpeg" style="width: 250px; height:300px; float: left ;margin-right: 20px;">
                            <img src="https://user-images.githubusercontent.com/56511253/95927929-1417f980-0dfb-11eb-9b64-b6a10bc48fe7.jpeg" style="width: 500px; height:300px; float: left; margin-right: 20px; ">
                            <img src="https://user-images.githubusercontent.com/56511253/95927931-14b09000-0dfb-11eb-8526-b051c13404e9.jpeg" style="width: 250px; height:300px; float: left;">
                            <div style="clear:both;"></div>
                            <h2><b>개발 환경</b></h2>
                            <b>- C Language,&nbsp;&nbsp; Python,&nbsp;&nbsp; Java, &nbsp;&nbsp;OpenCV</b>
                            <h2><b>사용 통신 규격</b></h2>
                            <b>- Socket Communication, &nbsp;&nbsp;WIFI,&nbsp;&nbsp; Serial Communication</b>
                            <h2><b>내용 및 기능</b></h2>
                                - 4학년 1학기 고급 임베디드 시스템의 기말 Term Project(2인 1조).<br>
                                - Achro.imx6q 보드를 이용해 Ubuntu Linux 환경에서 자율 프로젝트 진행.<br>
                                - Achro.imx6q를 이용하여 Kernel수준의 Device Driver를 제작, 내부의 8가지 모듈과 외부 센서[초음파]를 이용.<br>
                                - Achro.imx의 터치스크린 LCD와 Android의 View를 이용하여 가상의 주차장 시뮬레이터 생성.<br><br>
                                <font color = "ayan"><b>차량 인식</b></font> : Server인 Raspberry pi는 Achro.imx6q가 초음파 센서로 차량을 인식할 시 Opencv Tesseract로 차량의 번호판을 추출하고, Client인 Android와 Achro.imx6q에게 차량 정보를 전송.<br><br>
                                <font color = "ayan"><b>Android</b></font> : Android는 정보를 받은 뒤 DB에 저장을 하여 차량조회, 요금조회, 주차 정산의 기능을 수행.<br><br>
                                <font color = "ayan"><b>Achro.Imx6q</b></font> : Achro.imx6q는 차량을 초음파 센서로 감지한 뒤, 정보를 받고 차량정산, 요금조회, 주차정산의 기능을 수행.
                            <a href="https://github.com/sangwoo24/Main-Project-in-KPU/tree/master/Parking%20System%20Project" class="btn btn-success" target="_blank" style = "float:right">프로젝트 세부내용</a>
                        </li>
                    </ul>
                </div><br><br><br><br>
                <div class="post-list">
                    <ul>
                        <h2 style = "color:forestgreen" ><p><b>🚗 Graduation Project [HandTalker]</b></p></h2>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95933840-72000d80-0e0a-11eb-9ce0-84246f17ff00.jpeg" style="width: 250px; height:300px; float: left ;margin-right: 50px;">
                            <img src="https://user-images.githubusercontent.com/56511253/95933842-7298a400-0e0a-11eb-93f8-22fb6c812efd.png" style="width: 500px; height:300px; float: left; margin-right: 20px; ">
                            <div style="clear:both;"></div>
                            <h2><b>개발 환경</b></h2>
                            <b>- C,&nbsp;&nbsp; Python,&nbsp;&nbsp; Java,&nbsp;&nbsp; Arduino</b>
                            <h2><b>사용 통신 규격</b></h2>
                            <b>- Socket Communication,&nbsp;&nbsp; Bluetooth, &nbsp;&nbsp;Serial Communication</b>
                            <h2><b>내용 및 기능</b></h2>
                                - 전자공학부 졸업 작품으로 장갑을 착용하고 수화를 하면 수화의 음성을 추출해주는 작품을 개발.<br><br>
                                - Bluetooth 통신이 가능한 Jarduino와 Android 사이에서 Data교환이 이루어짐.<br><br>
                                - 오른손은[Ebimu : 6, Flex : 6, Capacitor : 2]의 14개의 센서가 들어가고, 왼손에 경우에는[Ebimu : 6, Flex : 5]의 11개의 센서가 들어간다.<br><br>
                                - Android는 Arduino로 부터 Data를 받고, 가속도 기반 에너지를 추출하여 수화의 동작 구간을 판별.<br><br>
                                - 에너지 전위가 임계치를 넘으면 동작으로 인식하고, 지화는 저장된 Data와 손의 끝점을 비교해 추출한다.<br><br>
                                - 수화에 경우에는, 손목, 접촉센서, 끝점에 따라 reject를 한 후 DTW(Dynamic Time Wraping) 알고리즘을 이용해 구간에 대한 Data를 비교한 후 가장 유사한 패턴의 수화를 출력한다.<br><br>
                                - 오른손의 에너지만 올라간 경우에는 지화 및 한손수화로 인식하고, 왼손의 에너지가 먼저 올라가거나 양손의 에너지가 임계치를 넘으면 수화 동작으로 인식한다.<br><br><br>

                                🔥 자세한 사항과 동작 영상은 유튜브 링크를 참조해주시면 감사하겠습니다.
                            <a href="https://www.youtube.com/watch?v=_8ybMNZ5_AI" class="btn btn-danger" target="_blank" style = "float:right">Youtube 링크</a>
                        </li>
                    </ul>
                </div><br><br><br><br>

                <!--메롱-->
                <h1><b>대외 프로젝트</b></h1><br><br><br><br>
                <div class="post-list">
                    <ul>
                        <h2 style = "color:forestgreen" ><p><b>🛌 제 18회 전국 임베디드 경진대회</b></p></h2>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95929024-da94bd80-0dfd-11eb-8320-499e4f432bde.png" style="width:550px;height:300px; float: left ;margin-right: 20px;">
                            
                            <h2><b>개발 툴</b></h2>
                                <b>- Eclipse, &nbsp;&nbsp;vim</b>
                            <h2><b>언어</b></h2>
                                <b>- C Language,&nbsp;&nbsp; C++</b>
                            <h2><b>OS</b></h2>
                                <b>- Rasbian, &nbsp;&nbsp;Ubuntu 14.04</b>    
                                <div style="clear:both;"></div>
                                <img src="https://user-images.githubusercontent.com/56511253/95929038-e41e2580-0dfd-11eb-94e5-41a9f3e4bd33.jpeg" style="width: 550px; height:250px; float: left; margin-right: 20px; margin-top: 20px; ">
                            <h2><b>내용 및 기능</b></h2>
                                - 전자공학과(3명), 임베디드 시스템 공학과(2명)의 5인으로 구성.<br><br>
                                - 예선 주행 과제를 수행한 후 영상과 개발 계획서 및 코드를 제출하는 형식.<br><br>
                                

                                - 장애물, 추월, 터널, 교차로, 신호등, S자구간 등의 과제를 수행.<br><br>
                                - 자세한 기술 동영상은 Youtube에 업로드.<br><br>

                            <a href="https://www.youtube.com/watch?v=qPBJoPGB-es" class="btn btn-danger" target="_blank" style = "float:right">Youtube 링크</a><div style="clear:both;"></div>
                        </li>
                    </ul>
                </div><br><br><br><br>

                <div class="post-list">
                    <ul>
                        <h2 style = "color:forestgreen" ><p><b>🛌 국민대학교 자율주행 경진대회[Xycar]</b></p></h2>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <img src="https://user-images.githubusercontent.com/56511253/95931595-8e00b080-0e04-11eb-944d-d469e3afc7bd.jpeg" style="width:550px;height:300px; float: left ;margin-right: 20px;">
                            
                            <h2><b>개발 툴</b></h2>
                                <b>- Eclipse,&nbsp;&nbsp; vim</b>
                            <h2><b>언어</b></h2>
                                <b>- C Language,&nbsp;&nbsp; C++</b>
                            <h2><b>OS</b></h2>
                                <b>- Rasbian, &nbsp;&nbsp;Ubuntu 14.04</b>
                                <div style="clear:both;"></div>
                                <img src="https://user-images.githubusercontent.com/56511253/95931597-8f31dd80-0e04-11eb-9ff7-d85427e565f9.jpeg" style="width: 550px; height:280px; float: left; margin-right: 20px; margin-top: 20px; ">
                            <h2><b>내용 및 기능</b></h2>
                                - 전자공학과(3명), 임베디드 시스템 공학과(2명)의 5인으로 구성.<br><br>
                                - 예선은 주어진 영상에 대해 ROS프로그래밍을 하여 시뮬레이터로 구현.<br><br>
                                - 본선은 직접 Xycar에 ROS프로그래밍을 하여 3바퀴 일반트랙, 1바퀴 장애물 트랙을 빠른 시간안에 완주하는 것.<br><br>
                                - 코드를 무작위로 배포할 시 저작권에 문제가 생길 수 있어 Git에 Repository는 Private으로 되어있음.<br><br><br><br><br><br>
                        </li>
                    </ul>
                        {% endif %}
                    {% endfor %}
                </div><br><br><br><br>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
